<div class="show">
  <div class="restaurant-infos">
    <h1><%= @restaurant.name %></h1>
    <h3><%= @restaurant.category.capitalize %> food</h3>
    <ul>
      <li>Telephone: <%= @restaurant.phone_number %></li>
      <li>Address: <%= @restaurant.address %></li>
    </ul>
  </div>


  <br>

  <h2>Reviews</h2>

    <% @restaurant.reviews.each do |review| %>
      <div class="review shadow p-3 mb-5 bg-white rounded">
        <hr>
        <%= review.content %> - <%= "⭐️" * review.rating %>
        <hr>
       </div>
    <% end %>

    <%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, collection: (0..5) %>
  <%= f.submit "Submit review" %>
<% end %>

  <%= link_to "<- Back", restaurants_path %>
</div>
